In [1]:
import numpy as np
import pandas as pd

# PROYECTO DE ESTADISTICA 2

## ALUMNOS 
LOPEZ PEREZ CRISTINA AIME

GUERRERO LOPEZ LUIS ARTURO


TEMAS A DESARROLAR POR UNIDADES

1. [Pruebas no paramétricas](#Pruebas-no-paramétricas)
2. [Inferencia bayesiana para variables discretas](#Inferencia-bayesiana-para-variables-discretas)
3. [Inferencia bayesiana para variables continuas]()
4. [Comparación de inferencias bayesiana y frecuentista]()
5. [Análisis de varianza y diseño de experimentos]()
6. [Análisis de regresión lineal]()


# Pruebas no paramétricas

## Prueba de Mann Whitney

En esta prueba evaluaremos el rendimiento de gasolina de dos marcas de Carros Nissan y Ford,y ocuparemos Mann Whitney para evaluar si existe alguna diferencia de rendimiento entre las dos marcas 

Primero presentamos los datos

In [64]:
data={"carro":["TIIDA","TSURU","MICRA","APRIO","MAXIMA","MARCH","PLATINA","FUSION","FIESTA","FIGO","FOCUS","IKON","RANGER","EDGE"],
      "marca":["NISSAN","NISSAN","NISSAN","NISSAN","NISSAN","NISSAN","NISSAN","FORD","FORD","FORD","FORD","FORD","FORD","FORD"],
      "KM/L":[14.94,14.05,15.70,13.70,12.67,14.80,11.50,25.62,14.42,17.27,14.70,15.90,8.97,10.51]}
df=pd.DataFrame(data=data)
df=df.sort_values(by="KM/L")
df=df.reset_index(drop=True)
df

     KM/L    carro   marca
0    8.97   RANGER    FORD
1   10.51     EDGE    FORD
2   11.50  PLATINA  NISSAN
3   12.67   MAXIMA  NISSAN
4   13.70    APRIO  NISSAN
5   14.05    TSURU  NISSAN
6   14.42   FIESTA    FORD
7   14.70    FOCUS    FORD
8   14.80    MARCH  NISSAN
9   14.94    TIIDA  NISSAN
10  15.70    MICRA  NISSAN
11  15.90     IKON    FORD
12  17.27     FIGO    FORD
13  25.62   FUSION    FORD

Estos son los datos que vamos a analizar ordenados por el consumo 

Nissan -> R1

Ford -> R2


vamos a calcular la suma de R1

In [92]:
R1=0
n1=0
n2=0
for i in range(0,len(df["KM/L"])):
    if df.iloc[i,2]=="NISSAN":
        R1+=df.iloc[1,0]
        n1+=1
    elif df.iloc[i,2]=="FORD":
        n2+=1
R1

73.57

Y ahora vamos a calcular nuestra U de esta forma

$$U=\frac{n_1n_2+n_1(n_1+1)}{2}-R_1$$

In [94]:

U=(((n1*n2)+n1*(n1+1))/2)-R1
U

-21.069999999999993

Y ahora calcularemos E(u)

$$E(u)=\frac{n_1n_2}{2}$$

In [95]:
EU=(n1*n2)/2
EU

24.5

Y ahora calcularemos V(u)

$$V(u)=\frac{n_1n_2(n_1+n_2+1)}{12}$$

In [96]:
VU=(n1*n2*(n1*n2+1))/12
VU

204.16666666666666

Y ahora podremos obtener Z

$$Z=\frac{u-E(u)}{\sqrt{V(u)}}$$

In [99]:
import math
Z=(U-EU)/(math.sqrt(VU))
Z

-3.189235645103697

Ahora que ya calculamos nuestra Z nos falta calcular nuestra $Z_{\alpha=.025}$ que nos daria como resustlado

$$Z_{\alpha=.025}=1.96$$

Entonces como -3.18 esta fuera del rango de (-1.96,1.96) eso quiere decir que no siguen la misma distrbución

# Inferencia bayesiana para variables discretas

# Inferencia bayesiana para variables continuas

## TEOREMA DE BAYES PARA LA DISTRIBUCION POISSON

Un estudio bancario realizado en nuestro país demostró que las ventanillas bancarias y cajeros emiten hasta seis billetes falsos al día. Se realizo una muestra con los resultados observados en un banco durante una semana, el promedio de billetes falsos al día fue: λ=5,4,5,3,6,5,4 Proporcionar la distribución posterior asociada al valor que se observa para y=5

|DIA|$\lambda$|g($\lambda$)|P(y=5/$\lambda$)|g($\lambda$)P(y=5/$\lambda$)|P($\lambda$/y=5)|
|----------------|---------|----------------|------------|----------------------------|----------------|
|**Lunes**|5|1/6|0.17547|.02925|0.15947|
|**Martes**|4|1/6|0.15629|0.02605|0.14202|
|**Miércoles**|5|1/6|0.17547|0.02925|0.15947|
|**Jueves**|3|1/6|0.10082|0.01680|0.09159|
|**Viernes**|6|1/6|0.16062|0.02677|0.14595|
|**Sábado** |5|1/6|0.17547|0.02925|0.15947|
|**Domingo** |4|1/6|0.15629|0.02605|0.14202|

$$P(y/x)=.017547$$

Se eligió el tema “teorema de Bayes para la distribución Poisson” de la unidad dos debido a que es un claro ejemplo de la inferencia estadística bayesiana discreta, se eligió la distribución ya que tiene gran campo de aplicación a ocurrencias de algún suceso durante un intervalo especifico.